* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family:'Times New Roman', Times, serif;
}

.h1-h2-wrapper {
    background-color: #1f2937;
    padding: 0 2em;
    min-height: 100%;
}

.h1 {
    display: flex;
    padding: 2em;
    height: 2em;   
    align-items: center;
    margin-left: 1em;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
}

ul {
    list-style: none;
    margin-left: auto;
    display: flex;
    gap: 2em;
    font-size: 18px;    
}

a {
    text-decoration: none;
    color: #e5e7eb;  
    border-style: hidden;
    border-radius: .5em;
    padding: .7em;      
}

a:hover {
    background-color: #3882f6; 
    padding: .7em; 
    transition: background-color 0.3s ease;
}

.h2-wrapper {
    display: flex;
    padding: 7em 2em;       
    align-items: center;
    justify-content: space-between;
}

.h2 {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-left: 20px;
}

.hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    line-height: 1;
    padding-bottom: 20px;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 20px;
}

button {
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: .5em;
    border-style: none;    
    font-size: 20px;
    padding: .5em 2em;
}

button:hover {
    background-color: rgb(38, 160, 160);
    transition: background-color 0.3s ease;
}

.img {
    margin-left: auto;
    max-width: 100%;
    height: auto;
    display: block;    
}  

.h3-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 38px;
    font-weight: 900;
    color: #1f2937;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3 {
    background-color: #f9faf8;
    display: flex;
    width: 75%;
}

.box-text {
    display: flex;
    flex-direction: column; 
    padding-bottom: 7em;
    flex: 1;  
    justify-content: center; 
    align-items: center;
}

.boxes {
    border: 2px solid #3882f6;
    border-radius: .5em;
    height: 7em;
    width: 7em;
}

.text {
    flex-wrap: wrap;
    color: #1f2937;
    font-size: 18px;
    width: 7em;
    text-align: center;
}

.h4-wrapper {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5em;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    width: 600px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

cite {
    margin-left: auto;
    padding: 1em;
    font-size: 24px;
}

.h5-wrapper {
    display: flex;
    background-color: #f9faf8;
    padding: 5em;
    justify-content: center; 
}

.h5 {
    display: flex;
    background-color: #3882f6;
    padding: 3.5em;  
    border-style: none;
    border-radius: .5em;
    flex: 1;
}

.cta-wrapper {    
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.cta {
    font-size: 24px;    
}

.cta-subtext {
    font-size: 18px;
}

.h5button {
    border-color: #f9faf8;
    border-style: solid;
    border-radius: .5em;
}

footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

footer > p {
    font-size: 18px;
    color: #f9faf8;
}






